body{
    background-color: #838892;
    width: 980px;
    line-height:150%;
    text-indent: 5px;
    margin:auto;
}
    @font-face {
        font-family: "Bitstream Vera Serif Bold";
        src: local("Bitstream Vera Serif Bold"),
    url("VeraSeBd.ttf");
    }
h2{
    font-family: "Bitstream Vera Serif Bold";
    padding-bottom: 10px;
    padding-top: 10px;
}
h3 {
    text-align: center;
    font-style: italic;
    border:1px;
    color:#cccccc;
    border-style: solid;
}
.pair{
    background-color:#ff5850;
}
.impair{
    background-color:#5bbdbf;
}
.image{
    float: right;
    width: 300px;
    height: 300px;
}
.skill{
font-style:italic;
color:red;
}
a{
    padding-left: 10px;
    padding-right: 10px;
    border: 2px;
    border-color: black;
    text-decoration: none;
    position:static;
}
a:hover{
    color: orange;
}
thead{
    background-color: #00aaff;
}
.skill{
    color: #640051;
    padding-left: 5px;
    padding-right: 5px;
}
.blanc{
    background-color: white;
}
.sans{
    background-color: #CCC;
}
p{
    margin-top: 30px;
    margin-bottom: 30px;
}
td{
    text-align: center;
}
.chuckj{
    float: left;
}
.enfance{
    clear:left;
}
.icone{
    position: relative;
    top: 20px;
    left: 20px;
}
nav{
    width: 75%;
    margin: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #5bbdbf;
    text-align:stretch;
}
nav>div{
    display: flex;
    width: 100px;
    align-items: stretch;
    display:flex;
}
nav>a{
    background-color: #c0d5c2;
    display:inline;
}
div{
    /*top:200px;*/
    align-items: center;
    display:inline;
    position:static;
}
div>.submenu{
    top:50px;
    left:0px;
    background-color: #aca;
}
.submenu{
    display:none;
    position:relative;
    top:50px;
    left:0px;
}
nav>div:hover .submenu{
    display:block;
    float:none;
    text-align:left;
}
header{
    display:flex;
    background-color: white;
    flex-wrap:wrap;
}
main{
    display:flex;
}
article{
    max-width: 500px;
    min-width: 200px;
    width: 500px;
    background-color: #ccc;
    flex-grow: 3;
    flex-shrink: 0;
}
aside{
    max-width: 250px;
    min-width: 150px;
    width: 300px;
    background-color: #ccc;
    flex-grow: 1;
    flex-shrink: 0;
}
.puce{
    visibility: hidden;
    color: black;
}
div>a:hover .puce{
    visibility:visible;
}
header>nav{
    right: -13%;
    position:relative;
}